
<div class="container">
  <div>TEMPLATE-DRIVEN FORM UPDATE OPTIONS</div><br>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f.valid)" novalidate>
    <div>
      <label>Username:</label>
      <input type="text" name="username" ngModel required  [ngModelOptions]="{updateOn: 'submit'}">
      <span [hidden]="!f.form.hasError('required', 'username')">Username is required</span>
    </div>

    <div>
      <label>SSN:</label>
      <input type="text" name="ssn" ngModel ssn [ngModelOptions]="{updateOn: 'submit'}">
      <span [hidden]="!f.form.hasError('ssn', 'ssn')">SSN in invalid</span>
    </div>

    <div ngModelGroup="passwordsGroup" equal>
      <div>
        <label>Password:</label>
        <input type="password" name="password" ngModel minlength="8">
        <span [hidden]="!f.form.hasError('minlength', ['passwordsGroup', 'password'])">Password is too short</span>
      </div>

      <div>
        <label>Confirm password:</label>
        <input type="password" name="pconfirm" ngModel>
        <span [hidden]="!f.form.hasError('equal', 'passwordsGroup')">Passwords must be the same</span>
      </div>
    </div><br>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
  <div>FORM VALUE</div>
  <pre>{{f.value | json}}}</pre>
</div>

